.Header {
  margin-top: 20px;
}

.Header h1 {
  font-weight: bold;
}

.Header p {
  font-size: 20px;
}

.Header p button {
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.Header p button:hover {
  opacity: 0.6;
}

.Header p button:active {
  transform: translateY(2px);
}
